.content-wrapper {
    margin-left: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    margin-top: 5rem;
    display: flex;
    width: 60rem;
    justify-content: center;
    margin-bottom: 0rem;
}

.options > button {
    flex: 1;
    min-width: 15rem;
    font: 400 2rem 'Poppins';
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    border-bottom: 0.3rem solid white;
}

.options > button:hover {
    color: var(--color-compliment);
    border-bottom: 0.3rem solid var(--color-compliment);
    transition: 0.2s all ease-in-out;
}

.options > button.active {
    font-weight: 600;
    color: var(--color-compliment);
    border-bottom: 0.3rem solid var(--color-compliment);
}

.component-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-account-wrapper,
.view-subscription-wrapper {
    width: 60rem;
    position: absolute;
    align-self: flex-start;
    display: flex;
    justify-content: center;
}

.update-account-wrapper.fade-in {
    animation: options-fade-in 0.5s ease-in-out forwards;
}

.update-account-wrapper.fade-out {
    animation: options-fade-out 0.5s ease-in-out forwards;
}

.view-subscription-wrapper.fade-in {
    animation: options-fade-in 0.5s ease-in-out forwards;
}

.view-subscription-wrapper.fade-out {
    animation: options-fade-out 0.5s ease-in-out forwards;
}

@media screen and (max-width: 1020px) {
    .content-wrapper {
        margin-left: 0rem;
    }

    .options {
        margin-top: 2.5rem;
    }

    .options > button {
        font-size: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .options {
        width: 40rem;
    }

    .update-account-wrapper,
    .view-subscription-wrapper {
        width: 40rem;
    }

    .options > button {
        font-size: 1.6rem;
    }
}

@keyframes options-fade-in {
    0% {
        opacity: 0;
        transform: translate(-5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0rem);
    }
}

@keyframes options-fade-out {
    0% {
        opacity: 1;
        transform: translate(0rem);
    }
    100% {
        opacity: 0;
        transform: translate(5rem);
    }
}