.services-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.services-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-navigation {
    width: fit-content;
    margin-left: 1.5rem;
    padding: 0.5rem;
}

.page-navigation span {
    font-size: 0.7rem;
    font-family: 'Poppins';
}

.page-navigation span a {
    color: var(--color-primary-blue)
}

.page-navigation span a:hover {
    color: var(--color-secondary-red);
    transition: 0.2s all ease-in-out
}

.services-details {
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}