.signup-container,
.login-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
    background-color: white;
    min-height: 30rem;
}

.signup-title,
.login-title {
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
    font-family: 'Quicksand'
}

.login-prompt {
    display: flex;
    flex-direction: column;
}

.login-prompt span {
    font-size: 0.7rem;
    font-family: 'Nunito';
}

.login-prompt span a {
    text-decoration: none;
    color: var(--color-text-highlight);
}

.signup-form,
.login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


.name-inputs,
.password-inputs {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.name-inputs label,
.password-inputs label {
    margin-right: 1.5rem;
}

.name-inputs label:last-child,
.password-inputs label:last-child {
    margin-right: 0.3rem;
}

.signup-form label,
.login-form label {
    width: 90%;
    display: flex;
    padding-right: 0rem;
    margin-top: 1.7rem;   
    font-family: 'Nunito';
}

.signup-form label .input-name,
.login-form label .input-name {
    position: absolute;
    transform: translate(0, 0.3rem);
    padding-left: 0.5rem;
    padding-bottom: 0.15rem;
    font-size: 0.7rem;
    color: var(--color-grey);
    cursor: text;
    transition: 0.3s all ease-in-out;
}

.signup-form label input,
.login-form label input {
    width: 95%;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.15rem;
    border: none;
    border-bottom: 0.1rem solid var(--color-light-grey);
    font-size: 0.7rem;
    font-family: 'Nunito';
    color: var(--color-dark-grey)
}

.signup-form label input:focus,
.login-form label input:focus {
    outline: none;
}

#password-visibility-toggle {
    position: absolute;
    font-size: 0.8rem;
    color: var(--color-grey);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.signup-form #password-visibility-toggle {
    transform: translate(7.5rem, 0.15rem);
}

.login-form #password-visibility-toggle {
    transform: translate(11.5rem, 0.15rem);
}

#password-checker {
    min-height: 1rem;
    font-size: 0.6rem;
    font-family: 'Quicksand';
    margin-top: 0.5rem;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.signup-form > button,
.login-form > button {
    margin-top: 1.7rem;
    width: 90%;
    height: 2.2rem;
    background: var(--color-text-highlight);
    color: white;
    border: none;
    border-radius: 1.5rem;
    font: 700 0.8rem 'Quicksand';
    cursor: pointer
}

.redirect-login,
.redirect-signup {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.redirect-login span,
.redirect-signup span {
    font-size: 0.7rem;
    font-family: 'Nunito';
}

.redirect-login span a,
.redirect-signup span a {
    text-decoration: none;
    color: var(--color-text-highlight);
}