.menu-container {
    background: var(--primary-purple);
    display: flex;
    flex-direction: column;
    width: 22%;
    min-width: 18rem;
    height: 100vh;
}

.menu-header {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.menu-welcome-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.menu-welcome-text .username {
    font-size: 1.2rem;
    font-style: normal;
}

.menu-welcome-text span {
    color: var(--medium-grey);
    margin-bottom: 0.15rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.8rem;
    font-style: italic;
}

.menu-title {
    margin-bottom: 2rem;
}

.menu-title span {
    color: var(--light-grey);
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 600;
}

.menu-sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.menu-section {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.menu-section .section-title {
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--dark-grey)
}

.menu-section .section-list {
    list-style: none;
    padding-left: 0rem;
    margin-left: 0.5rem;
}

.section-list li {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.section-list li button {
    background: none;
    border: none;
    width: 80%;
    padding: 0.3rem 0;
    padding-left: 0.4rem;
    color: var(--light-grey);
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: start;
}

.section-list li button:hover {
    transform: translate(0.15rem);
    transition: 0.2s all ease-in-out;
    background-color: var(--secondary-purple);
}

.menu-footer {
    position: absolute;
    bottom: 1rem;
    width: 22%;
    min-width: 18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-footer span {
    margin-left: 1.5rem;
    width: 75%;
    font-size: 0.7rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--medium-grey)
}

.menu-footer .logout-btn {
    justify-content: flex-end;
    color: var(--medium-grey);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-footer .logout-btn:hover {
    color: var(--light-grey);
    transition: 0.2s all ease-in-out;
}
