.top-bar-container {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background-color: white;
}

.search-bar {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
}

.search-bar span {
    transform: translate(3.5rem);
    cursor: text;
    padding-left: 0.5rem;
    position: absolute;
    font-family: 'Poppins';
    font-size: 0.6rem;
    color: var(--color-dark-grey);
}

#query-field-name {
    margin-left: 1rem;
}

.search-bar input {
    margin-left: 3.5rem;
    width: 15rem;
    border: none;
    border: 0.08rem solid var(--color-grey);
    padding: 0.3rem 0.5rem;
    padding-left: 1.5rem;
    border-radius: 0.4rem;
    font-family: 'Poppins';
    font-size: 0.6rem;
    color: var(--color-dark-grey);
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.settings {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settings-list {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.settings-list li {
    margin: 0rem 1rem;
}

.settings-list li button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-dashboard-bg)
}

.settings-list li button:hover {
    color: var(--color-primary);
    transition: 0.2s all ease-in-out;
}