.login-form-container {
    width: 50%;
    min-width: 70rem;
    height: fit-content;
    background-color: white;
    display: flex;
    box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
}

.login-form-bg {
    flex: 1;
}

.login-form-bg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 4rem;
}

.login-form-title {
    font: 600 4rem 'Quicksand';
    text-align: center;
    margin-top: 10rem;
}

.login-form-subtitle {
    font: 400 1.5rem 'Poppins';
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.login-form-subtitle a {
    text-decoration: none;
    color: var(--color-secondary-red);
}

.login-form > label {
    font: 400 1.4rem 'Poppins';
    display: flex;
    flex-direction: column-reverse;
}

.login-form > label {
    width: 75%;
    margin: 0rem 3.5rem;
    margin-top: 2rem;
}

.login-form label span,
.login-form label input {
    width: 100%;
    padding: 0.15rem 1rem;
    padding-bottom: 0.5rem;
}

.login-form label span {
    transform: translate(0, 2.5rem);
    color: var(--color-dark-grey);
    cursor: text;
}

.login-form label span.on-active-text {
    animation: on-active-text 0.25s ease-in-out forwards;
    color: var(--color-secondary-red);
}

.login-form label span.on-inactive-text {
    animation: on-inactive-text 0.25s ease-in-out forwards;
}

.login-form label input {
    border: none;
    border-bottom: 0.15rem solid var(--color-grey);
    color: var(--color-secondary-red);
    font: 400 1.4rem 'Poppins';
}

.login-form label input:focus {
    outline: none;
}

.login-btn {
    font: 400 1.6rem 'Poppins';
    margin-top: 5rem;
    align-self: center;
    width: 20%;
    min-width: 15rem;
    padding: 1rem 0.5rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 100px;
    background-color: var(--color-secondary-red);
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.login-btn:hover {
    background-color: var(--color-secondary-red);
    box-shadow: 0 0 10px #c44d8c;
    transform: scale(1.05);
  }
  
.login-btn:active {
    background-color: var(--color-primary-blue-light);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.99);
}

.redirect-link {
    margin-bottom: 10rem;
    font: 400 1.3rem 'Poppins';
    color: black;
}

.redirect-link a {
    text-decoration: none;
    color: var(--color-secondary-red)
}

#password-visibility-toggle-signup {
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    padding: 0;
    height: fit-content;
    position: absolute;
    align-self: flex-end;
    margin-right: 2.5%;
    margin-top: 34rem;
    color: var(--color-grey);
    cursor: pointer;
}

#password-visibility-toggle-signup:hover {
    color: var(--color-secondary-red);
    transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 1000px) {
    .login-form-container {
        width: 70%;
        min-width: 60rem;
    }

    .login-form-bg {
        flex: 0;
    }

    #password-visibility-toggle-signup {
        font-size: 1.4rem;
        margin-right: 8%;
        margin-top: 33.5rem;
    }
}

@media screen and (max-width: 768px) {
    .login-form-container {
        min-width: 40rem;
    }

    .login-form {
        padding: 0rem;
    }

    .login-form-title {
        margin-top: 5rem;
        font-size: 3.5rem;
    }

    .login-form-subtitle {
        font-size: 1.4rem;
    }

    .login-form > label {
        width: 70%;
        align-self: center;
        margin-left: 5%;
    }

    .login-form > label > span,
    .login-form > label > input {
        font-size: 1.4rem;
    }

    .login-form > label > span {
        padding-bottom: 0.9rem;
    }

    #password-visibility-toggle-signup {
        font-size: 1.4rem;
        margin-right: 12%;
        margin-top: 29rem;
    }

    .login-btn {
        margin-top: 3rem;
        padding: 0.75rem 0.5rem;
        min-width: 12rem;
        font-size: 1.6rem;
    }
}


@keyframes on-active-text {
    0% {
        transform: translate(0, 2.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes on-inactive-text {
    0% {
        transform: translate(0, 0rem);
    }

    100% {
        transform: translate(0, 2.5rem);
    }
}

@keyframes password-req-popup {
    0% {
        transform: scale(0.8);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes match-password-popup {
    0% {
        transform: scale(0.8);
    }


    100% {
        transform: scale(1);
    }
}