.signup-form-container {
    width: 50%;
    min-width: 95rem;
    height: fit-content;
    background-color: white;
    display: flex;
    box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.48);
}

.signup-form-bg {
    flex: 0.5;
}

.signup-form-bg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 4rem;
}

.signup-form-title {
    font: 600 4rem 'Quicksand';
    text-align: center;
    margin-top: 8rem;
}

.signup-form-subtitle {
    font: 400 1.5rem 'Open Sans';
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.signup-form-subtitle a {
    text-decoration: none;
    color: var(--color-compliment);
}

.signup-form > div {
    margin-top: 2rem;
    display: flex;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    width: 90%;
}

.signup-form > div > label,
.signup-form > label {
    font: 400 1.4rem 'Open Sans';
    display: flex;
    flex-direction: column-reverse;
}

.signup-form > div > label {
    flex: 1;
    display: flex;
}

.signup-form > div > label:first-child {
    margin-right: 1.5rem;
}

.signup-form > div > label:last-child {
    margin-left: 3rem;
}


.signup-form > label {
    width: 90%;
    margin: 0rem 3.5rem;
    margin-top: 2rem;
}

.signup-form label span,
.signup-form label input {
    width: 100%;
    padding: 0.15rem 1rem;
    padding-bottom: 0.5rem;
}

.signup-form label span {
    transform: translate(0, 2.5rem);
    color: var(--color-dark-grey);
    cursor: text;
}

.signup-form label span.on-active-text {
    animation: on-active-text 0.25s ease-in-out forwards;
    color: var(--color-compliment);
}

.signup-form label span.on-inactive-text {
    animation: on-inactive-text 0.25s ease-in-out forwards;
}

.signup-form label input {
    border: none;
    border-bottom: 0.15rem solid var(--color-grey);
    color: var(--color-compliment);
    font: 400 1.4rem 'Open Sans';
    padding-bottom: 1rem;
}

.signup-form label input:focus {
    outline: none;
}

.signup-btn {
    font: 400 1.6rem 'Poppins';
    margin-top: 0.5rem;
    align-self: center;
    width: 20%;
    min-width: 15rem;
    padding: 1rem 0.5rem;
    margin-bottom: 3.5rem;
    border: none;
    border-radius: 100px;
    background-color: var(--color-compliment);
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: var(--color-compliment);
    box-shadow: 0 0 10px var(--color-tertiary);
    transform: scale(1.05);
  }
  
.signup-btn:active {
    background-color: var(--color-primary);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.99);
}

#password-visibility-toggle {
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    padding: 0;
    height: fit-content;
    position: absolute;
    align-self: flex-end;
    margin-right: 2%;
    margin-top: 47.5rem;
    color: var(--color-grey);
    cursor: pointer;
}

#password-visibility-toggle:hover {
    color: var(--color-compliment);
    transition: 0.2s all ease-in-out;
}

.password-prompts {
    width: 100%;
    display: flex;
    align-items: center;
}

#password-req {
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    opacity: 1;
    display: none;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

#password-req.password-req-popup {
    display: flex;
    animation: password-req-popup 0.4s ease-in-out forwards;
}

#password-req li {
    width: 100%;
    margin-top: 0.2rem;
    font: 400 1.2rem 'Open Sans';
    color: var(--color-warning)
}

#password-checker {
    flex: 1;
    margin-top: 0rem;
    font: 400 1.4rem 'Open Sans';
    text-align: end;
    align-self: flex-start;
    opacity: 0;
}

#password-checker.match-password-popup {
    animation: match-password-popup 0.2s forwards ease-out;
}

@media screen and (max-width: 1000px) {
    .signup-form-container {
        width: 90%;
        min-width: 60rem;
    }

    .signup-form-bg {
        flex: 0;
    }
}

@media screen and (max-width: 768px) {
    .signup-form-container {
        min-width: 40rem;
    }

    .signup-form {
        padding: 0rem;
    }

    .signup-form-title {
        margin-top: 5rem;
        font-size: 3.5rem;
    }

    .signup-form-subtitle {
        margin-bottom: 1rem;
    }

    .signup-form > div,
    .signup-form > label {
        width: 80%;
        align-self: flex-start;
        margin-left: 5%;
    }

    .signup-form > label > span,
    .signup-form > label > input {
        font-size: 1.4rem;
    }

    .signup-form > div > label > span,
    .signup-form > div > label > input {
        font-size: 1.4rem;;
    }

    .signup-form > div > label > span {
        width: 30%;
    }

    #password-checker {
        align-self: flex-start;
        font-size: 1.2rem;
    }

    #password-visibility-toggle {
        font-size: 1.4rem;
        margin-right: 12%;
        margin-top: 44rem;
    }

    .signup-btn {
        margin-top: 0.5rem;
        padding: 0.75rem 0.5rem;
        min-width: 12rem;
        font-size: 1.6rem;
    }

    .redirect-link {
        margin-bottom: 5rem;
    }
}


@keyframes on-active-text {
    0% {
        transform: translate(0, 2.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes on-inactive-text {
    0% {
        transform: translate(0, 0rem);
    }

    100% {
        transform: translate(0, 2.5rem);
    }
}

@keyframes password-req-popup {
    0% {
        transform: scale(0.8);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes match-password-popup {
    0% {
        transform: scale(0.8);
    }


    100% {
        transform: scale(1);
    }
}