/* QueryUpload.css */

.query-upload-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
  
.query-upload-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.query-upload-container > span {
    font: 700 1.8rem 'Open Sans'
}
  
.file-input {
    display: flex;
    align-items: center;
    gap: 3rem;
}
  
.file-input > input[type="file"] {
    display: none;
}

.file-input > span {
    font: 400 1.6rem 'Open Sans';
}

.query-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
  
.query-actions > label {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background-color: var(--color-compliment);
    color: white;
    cursor: pointer;
    border-radius: 0.7rem;
    font-size: 1.6rem;
    height: fit-content;
}

.cancel-upload {
    background-color: transparent;
    color: var(--color-warning);
    cursor: pointer;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    border: none;
}
  
.uploaded-file {
    border: 0.1rem solid var(--color-success);
    background-color: rgba(55, 156, 164, 0.1);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.uploaded-file > div {
    display: flex;
    gap: 3rem;
}

.uploaded-file > div > label {
    font: 600 1.4rem 'Open Sans';
    min-width: 10rem;
}

.uploaded-file > div > span {
    font: 400 1.4rem 'Open Sans';
}


  
.upload-btn {
    margin-top: 2rem;
    width: 10%;
    min-width: 10rem;
    align-self: flex-end;
    margin-right: 10%;
    font: 500 1.5rem 'Poppins';
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--color-compliment);
    background-color: var(--color-compliment);
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
  