.query-gui-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.query-gui-container {
    flex: 5;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 8rem;
}

.query-gui-container > span {
    margin-bottom: 1.5rem;
    font: 500 1.8rem 'Open Sans'
}

.boolean-input,
.string-input {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    align-items: center;
}

.boolean-input > label,
.string-input > label {
    flex: 1;
    min-width: 30%;
    font: 400 1.6rem 'Open Sans';
}

.string-input > input {
    flex: 3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    border: 0.15rem solid var(--color-grey);
    font: 400 1.6rem 'Open Sans';
}

.string-input > input:focus {
    outline: none;
    border-color: var(--color-compliment);
}

.boolean-selector {
    align-self: flex-end;
    flex: 3;
}

.query-btn-gui {
    width: 10%;
    min-width: 10rem;
    align-self: flex-end;
    margin-right: 10%;
    font: 500 1.5rem 'Poppins';
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--color-compliment);
    background-color: var(--color-compliment);
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.query-btn-gui:hover {
    background-color: white;
    color: var(--color-compliment);
    transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 720px) {
    .query-gui-container {
        padding-left: 2rem;
        width: 90%;
    }

    .query-gui-container > span {
        font-size: 1.5rem;
    }

    .boolean-input,
    .string-input  {
        gap: 4rem
    }

    .boolean-input > label,
    .string-input > label { 
        font-size: 1.3rem;
    }

    .string-input > input {
        font-size: 1.1rem;
    }

    .query-btn-gui {
        margin-right: 1rem;
        font-size: 1.1rem;
    }
}