.quick-navigation-container {
    display: flex;
    margin-left: 3rem;
    font: 400 1.8rem 'Open Sans';
}

.quick-navigation-container > a {
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.quick-navigation-container > a:hover {
    color: var(--color-compliment);
    transition: 0.2s all ease-in-out;
}

.quick-navigation-container > a > span {
    font: 500 1.8rem 'Open Sans';
    margin-top: 0.3rem;
}

.quick-navigation-container > a > i {
    font-size: 1.8rem;
}

#divider {
    margin-top: 0.2rem;
}


@media screen and (max-width: 720px) {
    .quick-navigation-container,
    .quick-navigation-container > a > i,
    .quick-navigation-container > a > span {
        font-size: 1.5rem;
    }
}