.service-selection-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selections {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.type-selection,
.version-selection,
.task-selection {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.type-selection > button,
.version-selection > button,
.task-selection > button {
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    justify-content: flex-start;
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.type-selection > button.active,
.version-selection > button.active,
.task-selection > button.active {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: 0.2s all ease-in-out;
}

.type-selection > button > span,
.version-selection > button > span,
.task-selection > button > span {
    width: 100%;
    padding-left: 1rem;
    text-align: start;
    font: 600 2.3rem 'Quicksand';
    color: var(--color-light-grey);
    display: flex;
}

.type-selection > button > span > div,
.version-selection > button > span > div,
.task-selection > button > span > div {
    margin-left: auto;
}

.type-selection > button > span span,
.version-selection > button > span span,
.task-selection > button > span span {
    color: var(--color-light-grey);
}

.caret-light {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: solid;
    border-width: 0 0.6rem 1rem 0.6rem;
    margin-right: 3vw;
    margin-bottom: 0.5rem;
    border-color: transparent transparent #ffffff transparent;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}
  
.up {
    transform: rotate(0deg);
}

.available-service-types,
.available-service-version,
.available-service-task {
    min-height: 5rem;
    position: relative;
    margin-top: -8rem;
    opacity: 0;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.23);
}

.available-service-types.active,
.available-service-version.active,
.available-service-task.active {
    animation: selection-fade-in 0.3s forwards ease-in-out;
}

.available-service-types.inactive,
.available-service-version.inactive,
.available-service-task.inactive {
    animation: selection-fade-out 0.3s forwards ease-in-out;
}

.available-service-types > button,
.available-service-version > button,
.available-service-task > button {
    font: 400 1.8rem 'Open Sans';
    cursor: pointer;
    color: var(--color-compliment);
    background-color: transparent;
    border: none;
    border: 0.15rem solid var(--color-primary);
    border-radius: 1rem;
    padding: 0.7rem 1.5rem;
    height: fit-content;
}

.available-service-types > button.active,
.available-service-version > button.active,
.available-service-task > button.active {
    background-color: var(--color-compliment);
    color: white;
}

.available-service-types > button:hover,
.available-service-version > button:hover,
.available-service-task > button:hover {
    background-color: var(--color-compliment);
    color: white;
    transition: 0.2s all ease-in-out;
}

.no-valid-selection {
    align-self: center;
    font: 400 1.8rem 'Open Sans';
    color: var(--color-warning);
}

.query-container {
    position: relative;
    display: flex;
    width: 80%;
    min-height: 40rem;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.query-type-options {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.query-type-options > button {
    font: 400 2rem 'Poppins';
    padding: 0.4rem 2rem;
    border: none;
    background-color: transparent;
    border-bottom: 0.5rem solid white;
    cursor: pointer;
}

.query-type-options > button.active {
    font-weight: 500;
    color: var(--color-compliment);
    border-bottom: 0.5rem solid var(--color-compliment);
}

.query-type-options > button:hover {
    color: var(--color-compliment);
    border-bottom: 0.5rem solid var(--color-compliment);
    transition: 0.2s all ease-in-out;
}

.query-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.query-gui,
.query-cli {
    position: absolute;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.query-gui {
    justify-content: flex-start;
}

.query-cli {
    display: none;
}

@media screen and (max-width: 720px) {
    .type-selection > button > span,
    .version-selection > button > span,
    .task-selection > button > span { 
        font-size: 1.7rem;
    }

    .available-service-types > button,
    .available-service-version > button,
    .available-service-task > button {
        font-size: 1.4rem;
    }

    .query-container {
        min-height: 40rem;
    }

    .query-type-options > button {
        font-size: 1.3rem;
    }
}

@keyframes selection-fade-in {
    0% {
        opacity: 0;
        margin-top: -8rem;
    }

    100% {
        opacity: 1;
        margin-top: 0rem;
    }
}

@keyframes selection-fade-out {
    0% {
        opacity: 1;
        margin-top: 0rem;
    }

    100% {
        opacity: 0;
        margin-top: -8rem;
    }
}