/*
    * 'Roboto'
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
    * 'Quicksand' for title
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*
    * 'Poppins' for buttons
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    * 'Open Sans' for normal texts
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-warning: #e7545b;
    --color-success: #379ca4;
    --color-primary: #201f2c;
    --color-secondary: #AC9FBB;
    --color-tertiary: #efe1f5;
    --color-compliment: #a33873;

    --color-light-grey: #e0e0e0;
    --color-grey: #bbbbbb;
    --color-dark-grey: #a5a5a5;

    font-size: 62.5%;
}

html,
body {
    margin: 0;
}

.lock-scroll {
    overflow: hidden;
}

.sidebar-wrapper {
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.topbar-wrapper {
    position: absolute;
    top: 0;
}

.quick-nav-wrapper {
    margin-left: 35rem;
    margin-top: 3.5rem;
}

@media screen and (max-width: 1020px) {
    .quick-nav-wrapper {
        margin-left: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 769px) {
    .custom-toast-container {
        width: 150%;
    }
}

@media screen and (max-width: 768px) {
    .custom-toast-container {
        width: 80%;
        margin-right: 8rem;
    }

    .custom-toast-body {
        display: flex;
        font-size: 1.2rem;
    }
}